<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>API JSON TESTING</title>
        <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
        <link rel="stylesheet" href="https://unpkg.com/semantic-ui-css@2.2.9/semantic.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <style>
          body{            
            background-color: gray;
            color: #000;
            font-weight: bold;
          }
        </style>      
    </head>
    <body>
      <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h3 class="display-4">Here Today Currency</h3>
        <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
      </div>

      <div id="app" class="container px-lg-5">
        <div class="row mx-lg-n5">
          <div class="col py-3 px-lg-5 border bg-dark ui form">
            <datepicker v-model="date"></datepicker>
          </div>
          <div class="col py-3 px-lg-5 bg-light">
            <table class="table table-striped table-dark">
              <thead>
                <tr>
                  <th>Currency</th>
                  <th>Name</th>
                  <th>Exchange Rate</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="( rate, index ) in latest">
                  <td>{{index}}</td>
                  <td>{{currencies[index]}}</td>
                  <td>{{rate}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div> 

        <script src="https://unpkg.com/flatpickr"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
        <script src="currency.js"></script>
    </body>
</html>



